@layer reset, utilities, typography, layout;

@layer reset {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background-color: #333;
  }

  *::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
  }

  body {
    min-height: 100vh;
  }

  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }
}

@layer typography {
  body {
    font-family: "Gill Sans", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  @import "tailwindcss";
}

@layer layout {
  .app-grid {
    display: grid;
    grid-template-rows: 4.5rem 1fr;
    grid-template-columns: 25% 1fr;
    height: 100vh;
    grid-template-areas:
      "header header"
      "navbar main";
  }

  .header {
    grid-area: header;
  }

  .navbar {
    grid-area: navbar;
    overflow-y: hidden;
  }

  .main-layout {
    grid-area: main;
    overflow-y: auto;
    padding: 1rem;
  }

  .loading-spinner, .error-message {
    grid-area: 2/1/3/4;
  }

  /* Medium screens and below (Tablets and smaller) */
  @media (max-width: 976px) {
    html {
      font-size: 0.75em;
    }
    .app-grid {
      display: block;
      overflow-y: scroll;
    }
    .header {
      height: 4.5rem;
    }
    .navbar {
      height: 500px;
    }

    .main-layout {
      height: 500px;
      padding: 0.75rem;
    }

    .loading-spinner, .error-message {
      height: calc(100vh - 4.5rem);
    }
  }

  /* Small screens (Mobile devices) */
  @media (max-width: 600px) {
    html {
      font-size: 0.65em;
    }

    .app-grid {
      display: block;
      overflow-y: scroll;
    }

    .header {
      height: 4.5rem;
    }

    .navbar {
      height: auto;
    }
    .navbar .nav-list, .navbar .search-bar {
      display: none;
      flex-shrink: 1;
    }

    .main-layout {
      height: 500px;
      padding: 0.5rem;
    }
    .loading-spinner, .error-message {
      height: calc(100vh - 4.5rem);
    }
  }
}
#treeWrapper .rd3t-link {
  fill: none;
  stroke: #fff;
}
#treeWrapper .rd3t-node {
  cursor: pointer;
  fill: #777;
  stroke: transparent;
  stroke-width: 2;
}

#treeWrapper .rd3t-leaf-node {
  cursor: pointer;
  fill: transparent;
  stroke: transparent;
  stroke-width: 1;
}
